/* Head of site  */
      /* Main nav bar, for logo and the links*/
      #banner {
        height: 140px;
        text-align: center;
        font-size: 15px;
        background-color:#e0e0e0;
        overflow: hidden;
        position: fixed;
        top: 0px; 
        width: 100%;
        z-index: 1;
       }

       /* 1st bar, for the slogan 'The best guide to Hackney!' */
       #banner2 {
        padding: 7px; 
        text-align: center;
        font-size: 15px;
        color:#ffffff;
        background-color:#53b7d2;
        margin-top: 140px; 
        border-bottom: 2px solid #ffd4d7;
        overflow: hidden;
        position: fixed;
        top: 0px; 
        width: 100%;
        z-index: 1;
       }


  
       /* Hackney on the inside logo */
       .logo{
        width: 130px;
        height: 125px;
        margin-top: 5px;
       }
    

      /* Footer section */
      footer {
        padding: 30px; 
        text-align: center;
        background-color:rgb(185, 184, 184);
        border-top: 2px solid #ffd4d7;
       }

       .footertext{
        color: rgb(0, 0, 0);
       }

       * {
        padding: 0;
        margin:0;
        box-sizing: border;
       }
      



       /* START of navagation links*/

       nav {
        float:0; 
        padding:0;
       }
    
       nav ul {
        margin: 0;
        overflow: hidden;
        padding: 0;
       }  
      
       nav ul li{
         margin:20px;
       }
  
       li{
         display: inline;
       }
  
       li a{
        padding:0 px;
        float: 0;
       }

       nav ul li a{
        color:rgb(255, 255, 255);
        text-decoration:none ;
        display: inline-block;
        text-align: center;
        padding: 10px 10px;
        font-family: 'Montserrat', sans-serif;
       }
    
       nav ul li a:hover{
          color:#504f4f;
          text-decoration:underline;
          font-family: 'Montserrat', sans-serif;
       }

       a{
        color:rgb(255, 255, 255);
        text-decoration:none ;
        font-family: 'Montserrat', sans-serif;
       }

       /* END of navagation links */





       /* Main, body and textboxes */

        main {
        background-color:rgb(255, 255, 255) ;
        padding:0;
        margin: auto;
        padding-bottom: 50px;
        margin-top: 0px; 
        overflow: hidden;
        margin-top: 190px;
        }

        p{
          padding: 10px;
          text-align: center;
          font-family: 'Montserrat', sans-serif;
        }

        p.solid {
          border-style: solid;
         }

        .title-main{
          font-size: 30px;
          font-weight: bold;
          margin-left: 33px;
         }
        
        .title{
          font-size: 30px;
          font-weight: bold;
          margin-left: 230px;
         }
         

         br{
         padding: 10px;
         }
        

        .header-image{
          width: 50%;
          height: 500px;
          float: left;
          margin-bottom: 20px;
        } 

        

        /* lines for text decoration */

        .long-line {
          border: 1px solid rgb(0, 0, 0);
          width: 80%;
          text-align: center;
          margin: auto; 
          margin-top: 1%; 
          margin-bottom: 2%;
        }
        
        .whitelong-line {
          border: 1px solid rgb(255, 255, 255);
          width: 95%;
          text-align: center;
          margin: auto; 
          margin-top: 1%; 
          margin-bottom: 1%;
        }



         /* Screen size */
          div.content {
          margin-left: 25%;
          padding: 1px 16px;
          height: 1000px;
         }

         @media screen and (max-width: 900px) {
          ul.topnav {
          width: 100%;
          height: auto;
          position: relative;
        }
        ul.topnav li a {
          float: left;
          padding: 15px;
        }
        
        div.content {
            margin-left: 0;
        }
        }

         @media screen and (max-width: 700px) {
         ul.topnav li a {
           text-align: center;
           float: none;
         }
        } 



/* Three image containers (use 25% for four, and 50% for two, etc) */

.row::after {
  content: "";
  clear: both;
  display: table;
}


  .recipebox{
    margin-left: 25%;
    width: 50%;
    height: auto;
    text-align: center;
    background-color: rgb(243, 243, 243);
    color: black;
  }

img:hover{
  background-color: lightgray;
}

.t{
  color: #000000;
}
.t:hover{
  color: rgb(218, 151, 224);
}



 

