body{
    background-color: rgb(245, 226, 166);
}

header{
    background-color:#ffa51e;
    margin: auto;
    width: 55%;
    padding: 5px;
    height: 200px;
    margin-top: 100px;
    box-shadow: 10px 10px #be7506;
    border-top: solid black;
    border-left: solid black;
    border-right: solid black;
}
.title{
    font-size: 40px;
    text-align: center;
    font-family: 'Luckiest Guy', cursive, white;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 2px 2px white;
}

.center {
    background-color: #ffa51e;
    margin: auto;
    width: 55%;
    padding: 5px;
    height: auto;
    text-align: center;
    box-shadow: 10px 10px #be7506;
    border-bottom: solid black;
    border-left: solid black;
    border-right: solid black;
  }


.straight-font{
    font-family: 'Black Han Sans', sans-serif;
    text-align: center;
    font-size: 20px;
}

.curly-font{
    font-family: 'Pacifico', cursive;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: left;
    width: 20%;
    padding: 10px;
    margin-left: 15px;
    margin-top: 20px;
    margin-bottom: 50px;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  