body{
    background-color: #ffd4d7;
}

header{
    background-color:#53b7d2;
    margin: auto;
    width: 55%;
    padding: 5px;
    height: 200px;
    margin-top: 100px;
    box-shadow: 10px 10px #0584a7;
    border-top: solid black;
    border-left: solid black;
    border-right: solid black;
}


.center {
    background-color: #53b7d2;
    margin: auto;
    width: 55%;
    padding: 5px;
    height: auto;
    text-align: center;
    box-shadow: 10px 10px #0584a7;
    border-bottom: solid black;
    border-left: solid black;
    border-right: solid black;
    margin-bottom: 100px;
  }


.straight-font{
    font-family: 'Spartan', sans-serif;
    text-align: center;
    font-size: 20px;
}

.curly-font{
    font-family: 'Spartan', sans-serif;
    text-align: center;
    font-size: 15px;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: left;
    width: 20%;
    padding-left: 40px;
    padding-right: 40px;
    margin-left: 15px;
    margin-top: 20px;
    margin-bottom: 50px;
    text-align: center;

  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .imgcenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 50%; */
    border:1px solid black;
  }
  
 

  img{
    text-align: center;
  }